#data {
  background-color: black;
  color: red;
}

.album-cover {
  position: relative;
  width: 640px;
  height: 640px;
  overflow: hidden;
}
.album-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  filter: blur(50px);
  transform: scale(3);
}
